/* src/pages/Client/PresupuestoInver/CedulaRegistroForm.css */

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  border-radius: 0 0 60px 60px;
  background: linear-gradient(to right, #a02142, #92203e, #841e3b, #761d36, #691b32);
  box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.3);
  transition: 1.5s;
}

.banner_img{
  width: 40vw;
  height: 80%;
  margin-bottom: 4vh;
}

.banner_txt{
  width: 40vw;
  height: 60%;
  margin-bottom: 4vh;
}

.banner_img img{
  width: auto;
  height: 100%;
}

.banner_txt img{
  width: 100%;
  height: auto;
}

.banner:hover {
  box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(-5vh);
}

.container_home-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 30px;
  height: 60px;
  transform: translateX(-50%);
}

.container_home-button .home-button {
  width: 100%;
  height: 100%;
  border: 1px solid var(--vinoOsc);
  border-radius: 50px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.home-button::before,
.home-button::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid var(--blanco);
  border-top: transparent;
  border-left: transparent;
  animation: home-button 2s ease-in-out infinite;
}

.home-button::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes home-button {
  0% {
    top: 20%;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}

.home-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

input:focus, select:focus, textarea:focus {
  border-color: #691b32;
  outline: none;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 15px;
  background-color: #691b32;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #92203e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

