/* Archivo: src/pages/Responsible/ProjectReportReact.css */

.project-report p {
  margin: 0;
}

.project-report {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.project-report .report-container {
  width: 100%;
  max-width: 841.89px;
  height: 595.28px;
  padding: 0;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  /* transform: scale(1.2); */
}

.project-report .print-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: var(--doradoOsc);
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
}

@media print {
  .project-report .print-button {
    display: none;
  }

  .project-report .report-container {
    transform: scale(1.1);
  }
}

.project-report .side-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  opacity: 0.4;
  z-index: 1;
}

.project-report .side-imagepajaro {
  height: 200px;
  opacity: 0.9;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 1;
  bottom: 10px;
}

.project-report .rectangle_pdf {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 551px;
  border-radius: 0px 0px 40px 0px;
  border-right: 2px solid #691B32;
  border-bottom: 2px solid #691B32;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 300;
}

.project-report .rectangle-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: auto;
  gap: 15px;
  justify-content: space-evenly;
}

.project-report .section,
.project-report .inline-section {
  margin-bottom: 10px;
}

.project-report .label,
.project-report .value,
.project-report .value-num-be,
.project-report .label-num-be,
.project-report .label-sector,
.project-report .value-sector,
.project-report .label-txt-bene,
.project-report .value-project-name,
.project-report .label-container,
.project-report .value-container,
.project-report .value-inversion-estimada {
  display: block;
}

.inline-label {
  display: inline;
}

.project-report .label,
.project-report .inline-label {
  font-size: 15px;
  font-weight: bold;
  color: #bc955b;
}

.project-report .label-container {
  font-size: 18px;
  font-weight: bold;
  color: #bc955b;
}

.project-report .label-num-be {
  font-size: 12px;
  color: #98989a;
  font-weight: 700;
}

.project-report .label-sector {
  font-size: 18px;
  color: #bc955b;
  font-weight: 800;
}

.project-report .label-txt-bene {
  font-size: 18px;
  font-weight: bold;
  color: #bc955b;
  margin-top: -8px;
}

.project-report .value,
.project-report .inline-value {
  font-size: 12px;
  color: #98989a;
}


.project-report .value-container {
  font-size: 10px;
  color: #98989a;
  text-align: justify;
}

.project-report .value-inversion-estimada {
  font-size: 20px;
  color: #98989a;
  font-weight: 500;
}

.project-report .value-project-name {
  width: 95%;
  font-size: 16px;
  text-align: justify;
  color: #DEC9A3;
  font-weight: 700;
}

.project-report .value-num-be {
  font-size: 24px;
  color: #98989a;
  font-weight: 500;
}

.project-report .value-sector {
  font-size: 0.7rem;
  color: #98989a;
  font-weight: 500;
}

.project-report .footer_pdf {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  z-index: 2;
}

.project-report .NomDependencia {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 2;
}

.project-report .NomDependencia p {
  color: var(--blanco);
  font-weight: 600;
  margin: 0;
}

.project-report .footer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-report .main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 180px;
  padding: 20px;
}

.project-report .project-name {
  width: 95%;
  height: auto;
  background-color: #691B32;
  border-bottom-right-radius: 40px;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  padding: 9px;
  margin: 10px 0;
  z-index: 200;
  margin-left: -20px;
}

.project-report .project-container {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.project-report .text-container {
  width: 400px;
  padding: 0 9px 0 0;
}

.project-report .image-container {
  width: 220px;
  height: 440px;
  margin-top: -50px;
  padding: 20px 0;
  gap: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to right, #a02142, #92203e, #841e3b, #761d36, #691b32);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.project-report .logoSecretaria {
  width: auto;
  height: 110px;
}

.project-report .inversionImg {
  width: 95%;
  height: auto;
}


.project-report .logoSecretaria img,
.project-report .inversionImg img {
  width: 100%;
  height: auto;
}

.project-report .logoSecretaria img {
  width: auto;
  height: 110px;
}

.project-report .inversionImg img {
  max-height: 215px;
}





.project-report .image-beneficiarios {
  width: 50px;
  height: auto;
  margin-right: 7px;
}

.project-report .inline-section {
  display: flex;
  align-items: center;
}

.project-report .sectionCobertura {
  display: flex;
  align-items: center;
}

.project-report .map-container {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: 200;
  border-radius: 0px 0px 40px 0px;
}

.leaflet-container .leaflet-control-attribution {
  opacity: 0;
}